.container {
  min-height: 91vh;
  padding: 30px;
  background-color: white;
  @media (max-width: 600px) {
    padding: 20px;
  }
}

.child {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  @media (max-width: 600px) {
    padding: 10px;
  }
}

.question-title {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.question-content {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tags-container {
  margin-top: 10px;
  display: inline;
}

.post-info {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Add some space above */
}

.profile-pic {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.post-details {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.post-details span {
  display: block; /* Ensure spans take full width */
  margin-bottom: 2px; /* Add space between spans */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 40px;
  text-align: center;
}

.empty-message mat-icon {
  font-size: 64px;
  margin-bottom: 10px;
}

.empty-message p {
  font-size: 18px;
}
