.container {
  min-height: 91vh;
  padding: 30px;
  background-color: white; // Add this line
  @media (max-width: 600px) {
    padding: 20px;
  }
}

.child {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); // Adjust this line
  @media (max-width: 600px) {
    padding: 10px;
  }
}

.question-title {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 24px; // Adjust this line
  font-weight: 600; // Add this line
}

.question-content {
  margin-bottom: 10px;
  font-size: 14px; // Adjust this line
  color: #666; // Add this line
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tags-container {
  margin-top: 10px;
  display: inline; // Add this line
  .mat-chip-list {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.pagination {
  display: flex;
  justify-content: center; // Adjust this line
  margin-top: 20px;
  .mat-paginator {
    @media (max-width: 600px) {
      font-size: 12px;
    }
  }
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 40px;
  text-align: center;
  mat-icon {
    font-size: 64px;
    margin-bottom: 10px;
  }
  P {
    font-size: 18px;
  }
}

.radio {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}