apiVersion: apps/v1 
kind: Deployment  
metadata:
  name: angular-deployment
spec:
  selector:
    matchLabels:
      app: angular
  replicas: 2
  template:
    metadata:
      labels:
        app: angular
    spec:
      containers:
      - name: angular
        image: ng-docker-k8s:1.0 
        ports:
        - containerPort: 4200 
---

kind: Service
apiVersion: v1
metadata:
  name: angular-service
spec:
  selector:
    app: angular
  ports:
  - protocol: TCP
    port: 80 
    targetPort: 4200
    nodePort: 31000
  type: NodePort