.question-card, .answer-card {
  border: 1px solid #e2e2e2; // Adjust this line
  padding: 30px; // Adjust this line
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff; // Add this line
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); // Add this line
}

h2 {
  font-size: 26px; // Adjust this line
  margin-bottom: 10px;
  font-weight: 700; // Add this line
}

.vote-section {
  display: flex;
  align-items: center;
  margin-bottom: 5px; // Adjust this line
}

.arrow-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
}

.vote-count {
  font-size: 24px;
  margin-right: 10px;
}

.question-body {
  margin-bottom: 10px;
}

.tag-list {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .question-card, .answer-card {
    padding: 10px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .arrow-icon {
    font-size: 20px;
  }
  .vote-count {
    font-size: 20px;
  }
}

.answer-section {
  border: 1px solid #e2e2e2; // Adjust this line
  padding: 30px; // Adjust this line
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff; // Add this line
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); // Add this line
}

.form-field {
  margin-bottom: 20px;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

img {
  max-width: 40%;
  height: 40%;
}

.answred {
  color: rgb(22, 22, 22);
  font-weight: 400;
}