<body>
<div class="signup-container">
  <mat-card class="signup-card">
    <mat-card-content>
      <h2 class="signup-caption">Sign Up</h2>
      <form [formGroup]="signupForm">
        <div class="form-input">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Email" name="email" type="email" required formControlName="email" />
          </mat-form-field>
        </div>
        <div class="form-input">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Username" name="name" required formControlName="name" />
          </mat-form-field>
        </div>
        <div class="form-input">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Password" name="password" type="password" required
              formControlName="password" autocomplete="new-password" />
          </mat-form-field>
        </div>
        <div class="form-input">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Confirm password" name="confirmPassword" type="password" required
              formControlName="confirmPassword" autocomplete="new-password" />
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="signup-button" (click)="signup()"
          [disabled]="signupForm.invalid">
          Signup
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</body>
